@model Phoebe.Model.StockIn

@{
    ViewBag.Title = "货品入库";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="/assets/global/plugins/bootstrap-select/bootstrap-select.min.css" />
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Home")">主页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">冷库租赁</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-plus"></i>入库信息
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                @using (Html.BeginForm("Create", "StockIn", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <h3 class="form-section">货品选择</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-2">合同选择</label>
                                    <div class="col-md-9">
                                        <select id="ContractID" name="ContractID" class="form-control">
                                            <option value="">-- 请选择 --</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                        <span class="required">*</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-2">货品选择</label>
                                    <div class="col-md-9">
                                        <select id="CargoID" name="CargoID" class="form-control">
                                            <option value="">-- 请选择 --</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                        <span class="required">*</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="cargo-panel"></div>
                            </div>
                        </div>

                        <h3 class="form-section">入库信息</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped table-hover table-bordered" id="store-in-table">
                                    <thead>
                                        <tr>
                                            <th>
                                                库位
                                            </th>
                                            <th>
                                                数量
                                            </th>
                                            <th>
                                                操作
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <p>
                                    <a href="#" id="store-in-details-add" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;添加</a>
                                </p>
                            </div>
                        </div>

                        <h3 class="form-section">附加信息</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>&nbsp;确定</button>
                                            <a href="@Url.Action("Index", new { controller = "Home"})" class="btn btn-default">&nbsp;取消</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->

@section Scripts {
    <script type="text/javascript" src="/assets/global/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script type="text/javascript">
        $(function () {
            phoebe.leftNavActive($('#menu-stock-in-create'));
            
            var warehouses;
            var warehouseList;

            function loadCargo(id) {
                $('#cargo-panel').empty();

                if (id == null || id == '')
                    return;

                $('#cargo-panel').load('/Cargo/Info', { id: id });
            }

            $.getJSON('/Contract/GetContracts', { type: 0 }, function (response) {
                $.each(response, function (i, item) {
                    $('#ContractID').append("<option value='" + item.ID + "'>" + item.Name + "</option>");
                });

                $('#ContractID').change(function () {
                    var contractId = $(this).val();

                    $('#CargoID').empty();
                    $('#cargo-panel').empty();
                    if (contractId == '')
                        return;
                    $('#CargoID').append(" <option value=''>-- 请选择 --</option>");

                    $.getJSON('/Cargo/GetCargos', { type: 1, contractID: contractId }, function (response) {
                        $.each(response, function (i, item) {
                            $('#CargoID').append("<option value='" + item.ID + "'>" + item.Name + "</option>");
                        });
                    });
                });

                $('#CargoID').change(function () {
                    var cargoId = $(this).val();

                    loadCargo(cargoId);
                });
            });

            $.getJSON('/Warehouse/GetEmpty', function (response) {
                warehouses = response;
                warehouseList = $('<select />')
                    .attr('class', 'form-control')
                    .attr('name', 'warehouse[]');
                $.each(warehouses, function (i, item) {
                    warehouseList.append("<option value='" + item.ID + "'>" + item.Number + "</option>");
                });
            });

            var table = $('#store-in-table');
            var tbody = $('#store-in-table tbody');

            $('#store-in-details-add').click(function (e) {
                e.preventDefault();
                
                var ts = $('<td />').append(warehouseList.clone());
                var line = $('<tr/>')
                    .append(ts)
                    .append('<td><input type="number" class="form-control input-medium" name="count[]"></td>')
                    .append('<td><a class="delete-row" href="#">删除</a></td>');

                tbody.append(line);

                return;
            });

            table.on('click', '.delete-row', function (e) {
                e.preventDefault();
                $(this).closest('tr').remove();
            });

        });
    </script>
}