@model Phoebe.Model.UserGroup

@{
    ViewBag.Title = "用户组信息";
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Home")">主页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">用户管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-info-circle"></i>&nbsp;用户组信息
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="width: 20%;">
                                属性
                            </th>
                            <th>
                                说明
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Name)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Title)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Rank)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Rank)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Remark)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Remark)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Status)
                            </td>
                            <td>
                                @(((EntityStatus)Model.Status).DisplayName())
                            </td>
                        </tr>
                    </tbody>
                </table>

                <hr />
                <p>
                    <a href="@Url.Action("Index", new { controller = "UserGroup" })" class="btn btn-info"><i class="fa fa-list"></i>&nbsp;回到列表</a>
                    <a href="@Url.Action("Edit", new { controller = "UserGroup", id = Model.ID })" class="btn btn-warning"><i class="fa fa-edit"></i>&nbsp;编辑</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->

@section Scripts {
    <script type="text/javascript">
        $(function () {
            phoebe.leftNavActive($('#menu-user-group-index'));
        });
    </script>
}