@model Phoebe.Model.StockOut

@{
    ViewBag.Title = "货品出库";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="/assets/global/plugins/bootstrap-select/bootstrap-select.min.css" />
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Home")">主页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">冷库租赁</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-plus"></i>出库信息
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                @using (Html.BeginForm("Create", "StockOut", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <h3 class="form-section">货品</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-2">合同选择</label>
                                    <div class="col-md-9">
                                        <select id="ContractID" name="ContractID" class="form-control">
                                            <option value="">-- 请选择 --</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                        <span class="required">*</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-2">货品选择</label>
                                    <div class="col-md-9">
                                        <select id="CargoID" name="CargoID" class="form-control">
                                            <option value="">-- 请选择 --</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                        <span class="required">*</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h3 class="form-section">库存</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped table-hover table-bordered" id="store-table">
                                    <thead>
                                        <tr>
                                            <th>
                                                库位
                                            </th>
                                            <th>
                                                现有数量
                                            </th>
                                            <th>
                                                出库数量
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>

                        <h3 class="form-section">附加信息</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>&nbsp;确定</button>
                                            <a href="@Url.Action("Index", new { controller = "Home"})" class="btn btn-default">&nbsp;取消</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->


@section Scripts {
    <script type="text/javascript" src="/assets/global/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script type="text/javascript">
        $(function () {
            phoebe.leftNavActive($('#menu-stock-out-create'));

            var tbody = $('#store-table tbody');

            function loadCargo(cargoId) {
                $.getJSON('/Stock/GetWithCargo', { cargoID: cargoId }, function (response) {
                    $.each(response, function (i, item) {
                        var line = $('<tr/>')
                            .append('<td>' + item.Number + '<input type="hidden" name="warehouseID[]" value="' + item.WarehouseID + '" /></td>')
                            .append('<td>' + item.Count + '<input type="hidden" name="storeCount[]" value="' + item.Count + '</td>')
                            .append('<td><input type="number" class="form-control input-medium" name="count[]" value="0"></td>');

                        tbody.append(line);
                    });
                });
            }

            $.getJSON('/Contract/GetContracts', { type: 1 }, function (response) {
                $.each(response, function (i, item) {
                    $('#ContractID').append("<option value='" + item.ID + "'>" + item.Name + "</option>");
                });

                $('#ContractID').change(function () {
                    var contractId = $(this).val();

                    $('#CargoID').empty();
                    if (contractId == '')
                        return;
                    $('#CargoID').append(" <option value=''>-- 请选择 --</option>");

                    $.getJSON('/Cargo/GetCargos', { type: 2, contractID: contractId }, function (response) {
                        $.each(response, function (i, item) {
                            $('#CargoID').append("<option value='" + item.ID + "'>" + item.Name + "</option>");
                        });

                        $('#CargoID').change(function () {
                            var cargoId = $(this).val();
                            tbody.empty();
                            if (cargoId == '')
                                return;

                            loadCargo(cargoId);
                        });
                    });
                });
            });
            
        });
    </script>
}