@model IEnumerable<Phoebe.Model.Contract>


<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Home")">主页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">合同管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;合同列表
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="contract-table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Number)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SignDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CloseDate)
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Number)
                            </th>
                            <th data-filter="true">
                                @Html.DisplayNameFor(model => model.CustomerType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SignDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CloseDate)
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Number)
                                </td>
                                <td>
                                    @{
                                        var type2 = (CustomerType)item.CustomerType;
                                        @type2.DisplayName();
                                    }
                                </td>
                                <td>
                                    @item.CustomerName()
                                </td>
                                <td>
                                    @item.SignDate.ToDateString()
                                </td>
                                <td>
                                    @item.CloseDate.ToDateString()
                                </td>
                                <td>
                                    <a href="@Url.Action("Details", new { controller = "Contract", id = item.ID })" class="btn btn-info btn-sm" role="button"><i class="fa fa-check-circle"></i>&nbsp;查看</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->

@section Scripts {
    <script type="text/javascript">
        $(function () {
            phoebe.leftNavActive($('#menu-contract-closed'));
            phoebe.initDatatable($('#contract-table'));
        });
    </script>
}
