@model IEnumerable<Phoebe.Model.Storage>

@{ 
    Layout = null;
}

<div class="row" id="process-container">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;当日库存记录
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Number)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CargoName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstCategoryName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SecondCategoryName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ThirdCategoryName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Count)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Weight)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.InTime)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Number
                                </td>
                                <td>
                                    @item.CargoName
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstCategoryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SecondCategoryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ThirdCategoryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Count)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Weight)
                                </td>
                                <td>
                                    @item.InTime.ToDateString()
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

