@model IEnumerable<Phoebe.Model.Storage>

@{ 
    Layout = null;
    StoreClassifyModel classify = ViewBag.ClassifyStore;
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;当日库存记录
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CargoName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ContractName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstCategoryName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SecondCategoryName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ThirdCategoryName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Count)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.InTime)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CargoName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ContractName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstCategoryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SecondCategoryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ThirdCategoryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Count)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InTime)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box purple">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;分类汇总列表
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                一级分类
                            </th>
                            <th>
                                二级分类
                            </th>
                            <th>
                                三级分类
                            </th>
                            <th>
                                三类数量
                            </th>
                            <th>
                                二类数量
                            </th>
                            <th>
                                一类数量
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th colspan="5">
                                合计
                            </th>
                            <th>
                                @classify.StoreCount
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in classify.FirstStore)
                        {
                            <tr>
                                <td rowspan="@item.SecondStore.Sum(r => r.ThirdStore.Count)">
                                    @item.FirstCategoryName
                                </td>
                                <td rowspan="@item.SecondStore[0].ThirdStore.Count">
                                    @item.SecondStore[0].SecondCategoryName
                                </td>
                                <td>
                                    @item.SecondStore[0].ThirdStore[0].ThirdCategoryName
                                </td>
                                <td>
                                    @item.SecondStore[0].ThirdStore[0].StoreCount
                                </td>
                                <td rowspan="@item.SecondStore[0].ThirdStore.Count">
                                    @item.SecondStore[0].StoreCount
                                </td>
                                <td rowspan="@item.SecondStore.Sum(r => r.ThirdStore.Count)">
                                    @item.StoreCount
                                </td>
                            </tr>
                            for (int i = 1; i < item.SecondStore[0].ThirdStore.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @item.SecondStore[0].ThirdStore[i].ThirdCategoryName
                                    </td>
                                    <td>
                                        @item.SecondStore[0].ThirdStore[i].StoreCount
                                    </td>
                                </tr>
                            }

                            for (int i = 1; i < item.SecondStore.Count; i++)
                            {
                                <tr>
                                    <td rowspan="@item.SecondStore[i].ThirdStore.Count">
                                        @item.SecondStore[i].SecondCategoryName
                                    </td>
                                    <td>
                                        @item.SecondStore[i].ThirdStore[0].ThirdCategoryName
                                    </td>
                                    <td>
                                        @item.SecondStore[i].ThirdStore[0].StoreCount
                                    </td>
                                    <td rowspan="@item.SecondStore[i].ThirdStore.Count">
                                        @item.SecondStore[i].StoreCount
                                    </td>
                                </tr>

                                for (int j = 1; j < item.SecondStore[i].ThirdStore.Count; j++)
                                {
                                    <tr>
                                        <td>
                                            @item.SecondStore[i].ThirdStore[j].ThirdCategoryName
                                        </td>
                                        <td>
                                            @item.SecondStore[i].ThirdStore[j].StoreCount
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>