@model IEnumerable<Phoebe.Model.Settlement>

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;付款汇总列表
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Number)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StartTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EndTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PastPrice)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SumPrice)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Discount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Remission)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TotalPrice)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PaidPrice)
                            </th>
                            <th>
                                欠款
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ConfirmTime)
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                合计
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>
                                @Math.Round(Model.Sum(r => r.TotalPrice), 2)
                            </th>
                            <th>
                                @Math.Round(Model.Sum(r => r.PaidPrice.Value), 2)
                            </th>
                            <th>
                                @Math.Round(Model.Sum(r => r.TotalPrice) - Model.Sum(r => r.PaidPrice.Value), 2)
                            </th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Number)
                                </td>
                                <td>
                                    @item.StartTime.ToDateString()
                                </td>
                                <td>
                                    @item.EndTime.ToDateString()
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PastPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SumPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Discount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Remission)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PaidPrice)
                                </td>
                                <td>
                                    @(Math.Round(item.TotalPrice - item.PaidPrice.Value, 2))
                                </td>
                                <td>
                                    @item.ConfirmTime.ToDateString()
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

