@model IEnumerable<Phoebe.Model.Receipt>

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;客户流水数据
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="receipt-table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StartTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EndTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TotalPrice)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PaidPrice)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Difference)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ConfirmTime)
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>合计</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>
                                @Math.Round(Model.Sum(r => r.TotalPrice), 2)
                            </th>
                            <th>
                                @Math.Round(Model.Sum(r => r.PaidPrice), 2)
                            </th>
                            <th>
                                @Math.Round(Model.Sum(r => r.Difference), 2)
                            </th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @{
                                        CustomerType type = (CustomerType)item.CustomerType;
                                        @type.DisplayName()
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomerName)
                                </td>
                                <td>
                                    @item.StartTime.ToDateString()
                                </td>
                                <td>
                                    @item.EndTime.ToDateString()
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PaidPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Difference)
                                </td>
                                <td>
                                    @item.ConfirmTime.ToDateString()
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
