@model IEnumerable<Phoebe.Model.Warehouse>

@{
    ViewBag.Title = "仓库信息";

    var top = Model.First(r => r.Hierarchy == 1);
}

@section styles {
    <link rel="stylesheet" type="text/css" href="/assets/global/plugins/jstree/dist/themes/default/style.min.css" />
}

 <!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Home")">主页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">仓库管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-3">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cog"></i>&nbsp;仓库列表
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div id="tree_warehouse">
                    <ul>
                        <li data-id="@top.ID" data-jstree='{ "opened" : true }'>
                            @top.Name
                            <ul>
                                @foreach (var item in top.ChildrenWarehouse)
                                {
                                    <li data-id="@item.ID">
                                        @item.Name
                                    </li>
                                }
                                <li>
                                    initially open
                                    <ul>
                                        <li data-jstree='{ "disabled" : true }'>
                                            Disabled Node
                                        </li>
                                        <li data-jstree='{ "type" : "file" }'>
                                            Another node
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9" id="warehouse-info-panel">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-info-circle"></i>&nbsp;仓库信息
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">

            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->


@section scripts {
    <script src="/assets/global/plugins/jstree/dist/jstree.min.js"></script>
    <script type="text/javascript">
        $(function () {
            phoebe.leftNavActive($('#menu-warehouse-index'));

            $('#tree_warehouse').jstree({
                "core": {
                    "themes": {
                        "responsive": false
                    }
                },
                "types": {
                    "default": {
                        "icon": "fa fa-folder icon-state-warning icon-lg"
                    },
                    "file": {
                        "icon": "fa fa-file icon-state-warning icon-lg"
                    }
                },
                "plugins": ["types"]
            });

            // handle link clicks in tree nodes(support target="_blank" as well)
            $('#tree_warehouse').on('select_node.jstree', function (e, data) {
                var id = $('#' + data.selected).attr('data-id');
             
                if (id != null) {
                    $('#warehouse-info-panel').load('/Warehouse/Info', { id: id });
                }
            });
        });
    </script>    
}