@model Phoebe.Model.Warehouse

@{
    ViewBag.Title = "仓库库存";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="/assets/global/plugins/jstree/dist/themes/default/style.min.css" />
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Home")">主页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">仓库管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-3">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cog"></i>&nbsp;仓库列表
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div id="tree_warehouse">
                    <ul>
                        <li data-id="@Model.ID" data-jstree='{ "opened" : true }'>
                            @Model.Name
                            <ul>
                                @foreach (var second in Model.ChildrenWarehouse)
                                {
                                    <li data-id="@second.ID">
                                        @second.Name
                                        <ul>
                                            @foreach (var third in second.ChildrenWarehouse)
                                            {
                                                <li data-id="@third.ID">
                                                    @third.Name
                                                    <ul>
                                                        @foreach (var fourth in third.ChildrenWarehouse)
                                                        {
                                                            <li data-id="@fourth.ID">
                                                                @fourth.Name
                                                                <ul>
                                                                    @foreach (var fifth in fourth.ChildrenWarehouse)
                                                                    {
                                                                        <li data-id="@fifth.ID">
                                                                            @fifth.Name
                                                                            <ul>
                                                                                @foreach (var sixth in fifth.ChildrenWarehouse)
                                                                                {
                                                                                    <li data-id="@sixth.ID">
                                                                                        @sixth.Name
                                                                                    </li>
                                                                                }
                                                                            </ul>
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            </li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9" id="store-panel">

    </div>
</div>
<!-- END PAGE CONTENT-->


@section scripts {
    <script src="/assets/global/plugins/jstree/dist/jstree.min.js"></script>
    <script type="text/javascript">
        $(function () {
            phoebe.leftNavActive($('#menu-warehouse-store'));

            $('#tree_warehouse').jstree({
                "core": {
                    "themes": {
                        "responsive": false
                    }
                },
                "types": {
                    "default": {
                        "icon": "fa fa-folder icon-state-warning icon-lg"
                    },
                    "file": {
                        "icon": "fa fa-file icon-state-warning icon-lg"
                    }
                },
                "plugins": ["types"]
            });

            // handle link clicks in tree nodes(support target="_blank" as well)
            $('#tree_warehouse').on('select_node.jstree', function (e, data) {
                var id = $('#' + data.selected).attr('data-id');
                var level = $('#' + data.selected).attr('data-level');

                if (level == '1')
                    return;

                if (id != null) {
                    $('#store-panel').load('/Warehouse/StoreInWarehouse', { warehouseID: id }, function () {
                        phoebe.initDatatable($('#stock-table'));
                    });
                }
            });
        });
    </script>
}