@model Phoebe.Model.StockMove

@{
    ViewBag.Title = "移库确认";
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Home")">主页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">业务审核</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-plus"></i>货品信息
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="width: 20%;">
                                属性
                            </th>
                            <th>
                                说明
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                货品名称
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Cargo.Name)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                货品总数
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Cargo.Count)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.MoveTime)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.MoveTime)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Remark)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Remark)
                            </td>
                        </tr>
                    </tbody>
                </table>

                <hr />

                <h3>移库信息</h3>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                源库位编号
                            </th>
                            <th>
                                目的库位编号
                            </th>
                            <th>
                                在库数量
                            </th>
                            <th>
                                移库数量
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.StockMoveDetails)
                        {
                            <tr>
                                <td>
                                    @item.SourceWarehouse.Number
                                </td>
                                <td>
                                    @item.DestinationWarehouse.Number
                                </td>
                                <td>
                                    @item.SourceStock.Count
                                </td>
                                <td>
                                    @item.Count
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <hr />
                <div class="form">
                    @using (Html.BeginForm("Confirm", "StockMove", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ID)
                            <div class="form-group">
                                <label class="col-md-3 control-label">审核</label>
                                <div class="col-md-8">
                                    <div class="radio-list">
                                        <label class="radio-inline">
                                            <input type="radio" name="auditResult" value="1" checked> 通过
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="auditResult" value="2"> 不通过
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <span class="required">*</span>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> 保存</button>
                                        <a href="@Url.Action("Audit", new { controller = "StockMove"})" class="btn btn-default">&nbsp;取消</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->

@section Scripts {
    <script type="text/javascript">
        $(function () {
            phoebe.leftNavActive($('#menu-stock-move-audit'));
        });
    </script>
}