@{ 
    Layout = null;
    string role = User.GetRole();
    int rank = User.GetRank();
}

<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu" id="left-nav" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="margin-top:25px;">
            <li class="start left-nav-first active">
                <a href="@Url.Action("Index", "Home")">
                    <i class="fa fa-home"></i>
                    <span class="title">
                        主页
                    </span>
                </a>
            </li>
            <li class="heading">
                <h3 class="uppercase">基本信息</h3>
            </li>
            <li class="left-nav-first">
                <a href="javascript:;">
                    <i class="fa fa-users"></i>
                    <span class="title">客户管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="@Url.Action("Index", "GroupCustomer")" id="menu-group-customer-index">
                            团体客户
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "ScatterCustomer")" id="menu-scatter-customer-index">
                            零散客户
                        </a>
                    </li>
                </ul>
            </li>
            <li class="left-nav-first">
                <a href="javascript:;">
                    <i class="fa fa-bank"></i>
                    <span class="title">仓库管理</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    @if (rank >= 900)
                    {
                    <li>
                        <a href="@Url.Action("Index", "Warehouse")" id="menu-warehouse-index">
                            仓库信息
                        </a>
                    </li>
                    }
                    <li>
                        <a href="@Url.Action("Store", "Warehouse")" id="menu-warehouse-store">
                            仓库库存
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Stock")" id="menu-stock-index">
                            库存历史
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("List", "Stock")" id="menu-stock-list">
                            库位记录
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Snapshoot", "Stock")" id="menu-stock-snapshoot">
                            库存快照
                        </a>
                    </li>
                </ul>
            </li>
            <li class="left-nav-first">
                <a href="javascript:;">
                    <i class="fa fa-archive"></i>
                    <span class="title">货品管理</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="@Url.Action("Index", "Category")" id="menu-category-index">
                            类别管理
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Cargo")" id="menu-cargo-index">
                            货品信息
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ListByNotIn", "Cargo")" id="menu-cargo-notin">
                            未入库货品
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ListByOut", "Cargo")" id="menu-cargo-out">
                            已出库货品
                        </a>
                    </li>
                </ul>
            </li>
            <li class="heading">
                <h3 class="uppercase">业务相关</h3>
            </li>
            <li class="left-nav-first">
                <a href="javascript:;">
                    <i class="fa fa-file-text"></i>
                    <span class="title">合同管理</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="@Url.Action("Index", "Contract")" id="menu-contract-index">
                            合同列表
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create", "Contract")" id="menu-contract-create">
                            签订合同
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("List", new { controller = "Contract", type = 2 })" id="menu-contract-closed">
                            已关闭合同
                        </a>
                    </li>
                </ul>
            </li>
            <li class="left-nav-first">
                <a href="javascript:;">
                    <i class="fa fa-refresh"></i>
                    <span class="title">冷库租赁</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="@Url.Action("Create", "Cargo")" id="menu-cargo-create">
                            货品登记
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create", "StockIn")" id="menu-stock-in-create">
                            货品入库
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create", "StockOut")" id="menu-stock-out-create">
                            货品出库
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create", "StockMove")" id="menu-stock-move-create">
                            货品移库
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create", "Transfer")" id="menu-transfer-create">
                            货品转户
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "StockIn")" id="menu-stock-in-index">
                            入库记录
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "StockOut")" id="menu-stock-out-index">
                            出库记录
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "StockMove")" id="menu-stock-move-index">
                            移库记录
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Transfer")" id="menu-transfer-index">
                            转户记录
                        </a>
                    </li>
                </ul>
            </li>
            <li class="left-nav-first">
                <a href="javascript:;">
                    <i class="fa fa-bullseye"></i>
                    <span class="title">业务审核</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="@Url.Action("Audit", "StockIn")" id="menu-stock-in-audit">
                            入库审核
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Audit", "StockOut")" id="menu-stock-out-audit">
                            出库审核
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Audit", "StockMove")" id="menu-stock-move-audit">
                            移库审核
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Audit", "Transfer")" id="menu-transfer-audit">
                            转户审核
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Audit", "Settle")" id="menu-settle-audit">
                            结算审核
                        </a>
                    </li>
                </ul>
            </li>
            <li class="left-nav-first">
                <a href="javascript:;">
                    <i class="fa fa-rmb"></i>
                    <span class="title">财务结算</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="@Url.Action("Index", "Settle")" id="menu-settle-index">
                            费用结算
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("List", "Settle")" id="menu-settle-list">
                            结算记录
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ContractCold", "Settle")" id="menu-contract-cold">
                            合同冷藏费表单
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("CargoCold", "Settle")" id="menu-cargo-cold">
                            货品冷藏费表单
                        </a>
                    </li>
                </ul>
            </li>
            <li class="left-nav-first">
                <a href="javascript:;">
                    <i class="fa fa-bar-chart-o"></i>
                    <span class="title">统计报表</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="@Url.Action("ContractFlow", "Statistic")" id="menu-contract-flow-statistic">
                            合同流水统计
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ContractStore", "Statistic")" id="menu-contract-store-statistic">
                            合同库存统计
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("StoreSummary", "Statistic")" id="menu-store-summary-statistic">
                            库存汇总
                        </a>
                    </li>
                </ul>
            </li>
            <li class="heading">
                <h3 class="uppercase">系统维护</h3>
            </li>
            @if (rank >= 900)
            {
            <li class="left-nav-first">
                <a href="javascript:;">
                    <i class="fa fa-user"></i>
                    <span class="title">用户管理</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="@Url.Action("Index", "User")" id="menu-user-index">
                            用户列表
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "UserGroup")" id="menu-user-group-index">
                            用户组列表
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create", "User")" id="menu-user-create">
                            添加用户
                        </a>
                    </li>
                </ul>
            </li>
            }
            <li class="heading">
                <h3 class="uppercase">我的账户</h3>
            </li>
            <li class="last left-nav-first">
                <a href="javascript:;">
                    <i class="fa fa-smile-o"></i>
                    <span class="title">个人管理</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="@Url.Action("Index", "Account")" id="menu-account-index">
                            个人信息
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ChangePassword", "Account")" id="menu-change-password">
                            修改密码
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<!-- END SIDEBAR -->
