@{ 
    Layout = null;
}

<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu" id="left-nav" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="margin-top:25px;">
            <li class="start left-nav-first active">
                <a href="@Url.Action("Index", "Home")">
                    <i class="fa fa-home"></i>
                    <span class="title">
                        主页
                    </span>
                </a>
            </li>
            <li class="heading">
                <h3 class="uppercase">基本信息</h3>
            </li>
            <li class="left-nav-first">
                <a href="javascript:;">
                    <i class="fa fa-users"></i>
                    <span class="title">客户管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="@Url.Action("Index", "GroupCustomer")" id="menu-group-customer-index">
                            团体客户
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "ScatterCustomer")" id="menu-scatter-customer-index">
                            零散客户
                        </a>
                    </li>
                </ul>
            </li>
            <li class="left-nav-first">
                <a href="javascript:;">
                    <i class="fa fa-bank"></i>
                    <span class="title">仓库管理</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="@Url.Action("Index", "Warehouse")" id="menu-warehouse-index">
                            仓库信息
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            库存管理
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            历史库存
                        </a>
                    </li>
                </ul>
            </li>
            <li class="left-nav-first">
                <a href="javascript:;">
                    <i class="fa fa-hdd-o"></i>
                    <span class="title">托盘管理</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="@Url.Action("Index", "Tray")" id="menu-tray-index">
                            托盘管理
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            废弃托盘
                        </a>
                    </li>
                </ul>
            </li>
            <li class="left-nav-first">
                <a href="javascript:;">
                    <i class="fa fa-archive"></i>
                    <span class="title">货品管理</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="@Url.Action("Index", "Category")" id="menu-category-index">
                            类别管理
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ListByNotIn", "Cargo")" id="menu-cargo-notin">
                            未入库货品
                        </a>
                    </li>
                </ul>
            </li>
            <li class="heading">
                <h3 class="uppercase">业务相关</h3>
            </li>
            <li class="left-nav-first">
                <a href="javascript:;">
                    <i class="fa fa-file-text"></i>
                    <span class="title">合同管理</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="@Url.Action("Index", "Contract")" id="menu-contract-index">
                            合同列表
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create", "Contract")" id="menu-contract-create">
                            签订合同
                        </a>
                    </li>
                </ul>
            </li>
            <li class="left-nav-first">
                <a href="javascript:;">
                    <i class="fa fa-refresh"></i>
                    <span class="title">冷库租赁</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="@Url.Action("Create", "Cargo")" id="menu-cargo-create">
                            货品登记
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            货品入库
                        </a>
                    </li>
                    <li>
                        <a href="table_tree.html">
                            货品出库
                        </a>
                    </li>
                    <li>
                        <a href="table_responsive.html">
                            Responsive Datatables
                        </a>
                    </li>
                    <li>
                        <a href="table_advanced.html">
                            Advanced Datatables
                        </a>
                    </li>
                    <li>
                        <a href="table_ajax.html">
                            Ajax Datatables
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="fa fa-rmb"></i>
                    <span class="title">财务结算</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="portlet_general.html">
                            General Portlets
                        </a>
                    </li>
                    <li>
                        <a href="portlet_ajax.html">
                            Ajax Portlets
                        </a>
                    </li>
                    <li>
                        <a href="portlet_draggable.html">
                            Draggable Portlets
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-docs"></i>
                    <span class="title">Pages</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="page_timeline.html">
                            <i class="icon-paper-plane"></i>
                            <span class="badge badge-warning">2</span>New Timeline
                        </a>
                    </li>
                    <li>
                        <a href="inbox.html">
                            <i class="icon-envelope"></i>
                            <span class="badge badge-danger">4</span>Inbox
                        </a>
                    </li>
                    <li>
                        <a href="extra_faq.html">
                            <i class="icon-question"></i>
                            FAQ
                        </a>
                    </li>
                    <li>
                        <a href="extra_profile_old.html">
                            <i class="icon-user"></i>
                            Old User Profile
                        </a>
                    </li>
                </ul>
            </li>
            <li class="heading">
                <h3 class="uppercase">系统维护</h3>
            </li>
            <li class="left-nav-first">
                <a href="javascript:;">
                    <i class="fa fa-user"></i>
                    <span class="title">用户管理</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="@Url.Action("Index", "User")" id="menu-user-index">
                            用户列表
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "UserGroup")" id="menu-user-group-index">
                            用户组列表
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create", "User")" id="menu-user-create">
                            添加用户
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-pointer"></i>
                    <span class="title">Maps</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="maps_google.html">
                            Google Maps
                        </a>
                    </li>
                    <li>
                        <a href="maps_vector.html">
                            Vector Maps
                        </a>
                    </li>
                </ul>
            </li>
            <li class="heading">
                <h3 class="uppercase">我的账户</h3>
            </li>
            <li class="last left-nav-first">
                <a href="javascript:;">
                    <i class="fa fa-smile-o"></i>
                    <span class="title">个人管理</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="@Url.Action("Index", "Account")" id="menu-account-index">
                            个人信息
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ChangePassword", "Account")" id="menu-change-password">
                            修改密码
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<!-- END SIDEBAR -->
