@model IEnumerable<Phoebe.Model.FirstCategory>

@{
    ViewBag.Title = "类别管理";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="/assets/global/plugins/jstree/dist/themes/default/style.min.css" />
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Home")">主页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">货品管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-4">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cog"></i>&nbsp;分类列表
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div id="tree-category">
                    <ul>
                        @foreach(var first in Model)
                        {
                            <li data-level="1" data-id="@first.ID" data-jstree='{ "opened" : true }'>
                                @first.Name
                                <ul>
                                    @foreach(var second in first.SecondCategories)
                                    {
                                        <li data-level="2" data-id="@second.ID">
                                            @second.Name
                                            <ul>
                                                @foreach(var third in second.ThirdCategories)
                                                {
                                                    <li data-level="3" data-id="@third.ID">
                                                        @third.Name
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </div>

                <hr />
                <p>
                    <a href="@Url.Action("CreateFirstCategory", "Category")" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;添加一级分类</a> <br /><br />
                    <a href="@Url.Action("CreateSecondCategory", "Category")" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;添加二级分类</a> <br /><br />
                    <a href="@Url.Action("CreateThirdCategory", "Category")" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;添加三级分类</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-8" id="category-info-panel">

    </div>
</div>
<!-- END PAGE CONTENT-->

@section Scripts {
    <script src="/assets/global/plugins/jstree/dist/jstree.min.js"></script>
    <script type="text/javascript">
        $(function () {
            phoebe.leftNavActive($('#menu-category-index'));

            $('#tree-category').jstree({
                "core": {
                    "themes": {
                        "responsive": false
                    }
                },
                "types": {
                    "default": {
                        "icon": "fa fa-folder icon-state-warning icon-lg"
                    },
                    "file": {
                        "icon": "fa fa-file icon-state-warning icon-lg"
                    }
                },
                "plugins": ["types"]
            });

            // handle link clicks in tree nodes(support target="_blank" as well)
            $('#tree-category').on('select_node.jstree', function (e, data) {
                var id = $('#' + data.selected).attr('data-id');
                var level = $('#' + data.selected).attr('data-level');

                if (id != null) {
                    $('#category-info-panel').load('/Category/Info', { id: id, level: level });
                }
            });
        });
    </script>
}
