@model Phoebe.Model.Cargo

@{
    ViewBag.Title = "货品登记";
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Home")">主页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">冷库租赁</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-plus"></i>货品信息
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                @using (Html.BeginForm("Create", "Cargo", FormMethod.Post, new { @class = "form-horizontal form-bordered form-row-stripped" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-1">
                                <span class="required">*</span>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstCategoryID, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.FirstCategoryID, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FirstCategoryID, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-1">
                                <span class="required">*</span>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SecondCategoryID, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                <select id="SecondCategoryID" name="SecondCategoryID" class="form-control"></select>
                                @Html.ValidationMessageFor(model => model.SecondCategoryID, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-1">
                                <span class="required">*</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Weight" class="control-label col-md-3">重量 (Kg)</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Volume" class="control-label col-md-3">体积 (m<sup>3</sup>)</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Volume, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Volume, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.OriginPlace, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.OriginPlace, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.OriginPlace, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ShelfLife" class="control-label col-md-3">保质期 (月)</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.ShelfLife, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ShelfLife, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-1">
                                <span class="required">*</span>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ContractID, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.ContractID, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ContractID, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-1">
                                <span class="required">*</span>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> 保存</button>
                                    <a href="@Url.Action("Index", new { controller = "Cargo"})" class="btn btn-default">&nbsp;取消</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->


@section Scripts {
    <script type="text/javascript">
        $(function () {
            phoebe.leftNavActive($('#menu-cargo-create'));

            $('#FirstCategoryID').change(function () {
                var first = $(this).val();

                $('#SecondCategoryID').empty();
                if (first == '')
                    return;

                $.getJSON('/Cargo/GetSecondCategory', { firstId: first }, function (response) {
                    $.each(response, function (i, item) {
                        $('#SecondCategoryID').append("<option value='" + item.ID + "'>" + item.Name + "</option>");
                    });
                });
            });
        });
    </script>
}
