@model Phoebe.Model.Cargo

@{
    ViewBag.Title = "货品信息";
    List<TransferDetail> transfersOut = ViewBag.TransferOut;
    List<TransferDetail> transfersIn = ViewBag.TransferIn;
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Home")">主页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">货品管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab_info" data-toggle="tab">
                    货品信息
                </a>
            </li>
            <li>
                <a href="#tab_billing" data-toggle="tab">
                    计费信息
                </a>
            </li>
            <li>
                <a href="#tab_store" data-toggle="tab">
                    库存记录
                </a>
            </li>
            <li>
                <a href="#tab_stockin" data-toggle="tab">
                    入库记录
                </a>
            </li>
            <li>
                <a href="#tab_stockout" data-toggle="tab">
                    出库记录
                </a>
            </li>
            <li>
                <a href="#tab_stockmove" data-toggle="tab">
                    移库记录
                </a>
            </li>
            <li>
                <a href="#tab_transfer" data-toggle="tab">
                    转户记录
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="tab_info">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="width: 20%;">
                                属性
                            </th>
                            <th>
                                说明
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.ID)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Name)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.FirstCategoryID)
                            </td>
                            <td>
                                @Model.FirstCategory.Name
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.SecondCategoryID)
                            </td>
                            <td>
                                @Model.SecondCategory.Name
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.ThirdCategoryID)
                            </td>
                            <td>
                                @if (Model.ThirdCategory != null)
                                {
                                    @Model.ThirdCategory.Name
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Count)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Count)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                单位重量 (Kg)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.UnitWeight)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                总重量 (t)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.TotalWeight)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                单位体积 (m<sup>3</sup>)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.UnitVolume)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                总体积 (m<sup>3</sup>)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.TotalVolume)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.StoreCount)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.StoreCount)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.OriginPlace)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.OriginPlace)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Specification)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Specification)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                保质期(月)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.ShelfLife)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.ContractID)
                            </td>
                            <td>
                                @Model.Contract.Name
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.RegisterTime)
                            </td>
                            <td>
                                @Model.RegisterTime.ToDateString()
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.UserID)
                            </td>
                            <td>
                                @Model.User.Name
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.InTime)
                            </td>
                            <td>
                                @Model.InTime.ToDateString()
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.OutTime)
                            </td>
                            <td>
                                @Model.OutTime.ToDateString()
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Remark)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Remark)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Status)
                            </td>
                            <td>
                                @(((EntityStatus)Model.Status).DisplayName())
                            </td>
                        </tr>
                    </tbody>
                </table>

                <hr />
                <p>
                    <a href="@Url.Action("Index", new { controller = "Cargo" })" class="btn btn-info"><i class="fa fa-list"></i>&nbsp;回到列表</a>
                </p>
            </div>

            <div class="tab-pane fade" id="tab_billing">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="width: 20%;">
                                属性
                            </th>
                            <th>
                                说明
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Billing.BillingType)
                            </td>
                            <td>
                                @{
                                    if (Model.Billing != null)
                                    {
                                        var type = Model.Billing.BillingType;
                                        @(((BillingType)type).DisplayName())
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Billing.UnitPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Billing.UnitPrice)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Billing.IsTiming)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Billing.IsTiming)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Billing.HandlingPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Billing.HandlingPrice)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Billing.FreezePrice)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Billing.FreezePrice)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Billing.DisposePrice)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Billing.DisposePrice)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Billing.PackingPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Billing.PackingPrice)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Billing.RentPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Billing.RentPrice)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Billing.OtherPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Billing.OtherPrice)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Billing.Remark)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Billing.Remark)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="tab-pane fade" id="tab_store">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                库位编号
                            </th>
                            <th>
                                在库数量
                            </th>
                            <th>
                                入库时间
                            </th>
                            <th>
                                出库时间
                            </th>
                            <th>
                                来源
                            </th>
                            <th>
                                备注
                            </th>
                            <th>
                                状态
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                库位编号
                            </th>
                            <th>
                                在库数量
                            </th>
                            <th>
                                入库时间
                            </th>
                            <th>
                                出库时间
                            </th>
                            <th>
                                来源
                            </th>
                            <th>
                                备注
                            </th>
                            <th>
                                状态
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model.Stocks)
                        {
                            <tr>
                                <td>
                                    @item.Warehouse.Number
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Count)
                                </td>
                                <td>
                                    @item.InTime.ToDateString()
                                </td>
                                <td>
                                    @item.OutTime.ToDateString()
                                </td>
                                <td>
                                    @if (item.Source == 0)
                                    {
                                        <span>入库</span>
                                    }
                                    else
                                    {
                                        <span>移库</span>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Remark)
                                </td>
                                <td>
                                    @(((EntityStatus)item.Status).DisplayName())
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="tab-pane fade" id="tab_stockin">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                入库时间
                            </th>
                            <th>
                                确认时间
                            </th>
                            <th>
                                仓位
                            </th>
                            <th>
                                入库数量
                            </th>
                            <th>
                                操作人
                            </th>
                            <th>
                                状态
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                入库时间
                            </th>
                            <th>
                                确认时间
                            </th>
                            <th>
                                仓位
                            </th>
                            <th>
                                入库数量
                            </th>
                            <th>
                                操作人
                            </th>
                            <th>
                                状态
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach(var item in Model.StockInDetails.OrderBy(r => r.StockIn.ConfirmTime))
                        {
                            <tr>
                                <td>
                                    @item.StockIn.InTime.ToDateString()
                                </td>
                                <td>
                                    @item.StockIn.ConfirmTime.ToDateString()
                                </td>
                                <td>
                                    @item.Warehouse.Number
                                </td>
                                <td>
                                    @item.Count
                                </td>
                                <td>
                                    @item.StockIn.User.Name
                                </td>
                                <td>
                                    @(((EntityStatus)item.Status).DisplayName())
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="tab-pane fade" id="tab_stockout">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                出库时间
                            </th>
                            <th>
                                确认时间
                            </th>
                            <th>
                                仓位
                            </th>
                            <th>
                                在库数量
                            </th>
                            <th>
                                出库数量
                            </th>
                            <th>
                                操作人
                            </th>
                            <th>
                                状态
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                出库时间
                            </th>
                            <th>
                                确认时间
                            </th>
                            <th>
                                仓位
                            </th>
                            <th>
                                在库数量
                            </th>
                            <th>
                                出库数量
                            </th>
                            <th>
                                操作人
                            </th>
                            <th>
                                状态
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model.StockOutDetails.OrderBy(r => r.StockOut.ConfirmTime))
                        {
                            <tr>
                                <td>
                                    @item.StockOut.OutTime.ToDateString()
                                </td>
                                <td>
                                    @item.StockOut.ConfirmTime.ToDateString()
                                </td>
                                <td>
                                    @item.Warehouse.Number
                                </td>
                                <td>
                                    @item.StoreCount
                                </td>
                                <td>
                                    @item.Count
                                </td>
                                <td>
                                    @item.StockOut.User.Name
                                </td>
                                <td>
                                    @(((EntityStatus)item.Status).DisplayName())
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="tab-pane fade" id="tab_stockmove">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                移库时间
                            </th>
                            <th>
                                确认时间
                            </th>
                            <th>
                                源仓位
                            </th>
                            <th>
                                目的仓库
                            </th>
                            <th>
                                移库数量
                            </th>
                            <th>
                                操作人
                            </th>
                            <th>
                                状态
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                移库时间
                            </th>
                            <th>
                                确认时间
                            </th>
                            <th>
                                源仓位
                            </th>
                            <th>
                                目的仓库
                            </th>
                            <th>
                                移库数量
                            </th>
                            <th>
                                操作人
                            </th>
                            <th>
                                状态
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model.StockMoveDetails.OrderBy(r => r.StockMove.ConfirmTime))
                        {
                            <tr>
                                <td>
                                    @item.StockMove.MoveTime.ToDateString()
                                </td>
                                <td>
                                    @item.StockMove.ConfirmTime.ToDateString()
                                </td>
                                <td>
                                    @item.SourceWarehouse.Number
                                </td>
                                <td>
                                    @item.DestinationWarehouse.Number
                                </td>
                                <td>
                                    @item.Count
                                </td>
                                <td>
                                    @item.StockMove.User.Name
                                </td>
                                <td>
                                    @(((EntityStatus)item.Status).DisplayName())
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="tab-pane fade" id="tab_transfer">
                <h3>转出记录</h3>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                转户时间
                            </th>
                            <th>
                                确认时间
                            </th>
                            <th>
                                原合同
                            </th>
                            <th>
                                新合同
                            </th>
                            <th>
                                仓位
                            </th>
                            <th>
                                转户数量
                            </th>
                            <th>
                                操作人
                            </th>
                            <th>
                                状态
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                转户时间
                            </th>
                            <th>
                                确认时间
                            </th>
                            <th>
                                原合同
                            </th>
                            <th>
                                新合同
                            </th>
                            <th>
                                仓位
                            </th>
                            <th>
                                转户数量
                            </th>
                            <th>
                                操作人
                            </th>
                            <th>
                                状态
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach(var item in transfersOut)
                        {
                            <tr>
                                <td>
                                    @item.Transfer.TransferTime.ToDateString()
                                </td>
                                <td>
                                    @item.Transfer.ConfirmTime.ToDateString()
                                </td>
                                <td>
                                    @item.Transfer.OldCargo.Contract.Name
                                </td>
                                <td>
                                    @item.Transfer.NewCargo.Contract.Name
                                </td>
                                <td>
                                    @item.Warehouse.Number
                                </td>
                                <td>
                                    @item.Count
                                </td>
                                <td>
                                    @item.Transfer.User.Name
                                </td>
                                <td>
                                    @(((EntityStatus)item.Status).DisplayName())
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <h3>转入记录</h3>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                转户时间
                            </th>
                            <th>
                                确认时间
                            </th>
                            <th>
                                原合同
                            </th>
                            <th>
                                新合同
                            </th>
                            <th>
                                仓位
                            </th>
                            <th>
                                转户数量
                            </th>
                            <th>
                                操作人
                            </th>
                            <th>
                                状态
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                转户时间
                            </th>
                            <th>
                                确认时间
                            </th>
                            <th>
                                原合同
                            </th>
                            <th>
                                新合同
                            </th>
                            <th>
                                仓位
                            </th>
                            <th>
                                转户数量
                            </th>
                            <th>
                                操作人
                            </th>
                            <th>
                                状态
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in transfersIn)
                        {
                            <tr>
                                <td>
                                    @item.Transfer.TransferTime.ToDateString()
                                </td>
                                <td>
                                    @item.Transfer.ConfirmTime.ToDateString()
                                </td>
                                <td>
                                    @item.Transfer.OldCargo.Contract.Name
                                </td>
                                <td>
                                    @item.Transfer.NewCargo.Contract.Name
                                </td>
                                <td>
                                    @item.Warehouse.Number
                                </td>
                                <td>
                                    @item.Count
                                </td>
                                <td>
                                    @item.Transfer.User.Name
                                </td>
                                <td>
                                    @(((EntityStatus)item.Status).DisplayName())
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->

@section Scripts {
    <script type="text/javascript">
        $(function () {
            phoebe.leftNavActive($('#menu-cargo-index'));
        });
    </script>
}
