@model Phoebe.Model.Cargo

@{
    ViewBag.Title = "货品信息";
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Home")">主页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">货品管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-info-circle"></i>&nbsp;货品信息
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="width: 20%;">
                                属性
                            </th>
                            <th>
                                说明
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.ID)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Name)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.FirstCategoryID)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.FirstCategoryID)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.SecondCategoryID)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.SecondCategoryID)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Weight)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Weight)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Volume)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Volume)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.ContractID)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.ContractID)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.RegisterTime)
                            </td>
                            <td>
                                @Model.RegisterTime.ToDateTimeString()
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.UserID)
                            </td>
                            <td>
                                @Model.User.Name
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Remark)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Remark)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Status)
                            </td>
                            <td>
                                @(((EntityStatus)Model.Status).DisplayName())
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->

@section Scripts {
    <script type="text/javascript">
        $(function () {
            phoebe.leftNavActive($('#menu-cargo-create'));
        });
    </script>
}
