@model Phoebe.Model.Cargo

@{ 
    Layout = null;
}

<div class="portlet">
    <div class="portlet-body" style="padding:0px;">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered" style="margin-bottom:0px;">
                    <tbody>
                        <tr>
                            <td style="width: 30%;">
                                @Html.DisplayNameFor(model => model.Name)
                            </td>
                            <td style="width: 70%;">
                                @Model.Name
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.FirstCategoryID)
                            </td>
                            <td>
                                @Model.FirstCategory.Name
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.SecondCategoryID)
                            </td>
                            <td>
                                @Model.SecondCategory.Name
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.ThirdCategoryID)
                            </td>
                            <td>
                                @if (Model.ThirdCategory != null)
                                {
                                    @Model.ThirdCategory.Name
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.RegisterTime)
                            </td>
                            <td>
                                @Model.RegisterTime.ToDateTimeString()
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-bordered" style="margin-bottom:0px;">
                    <tbody>
                        <tr>
                            <td style="width: 30%;">
                                @Html.DisplayNameFor(model => model.Count)
                            </td>
                            <td style="width: 70%;">
                                @Html.DisplayFor(model => model.Count)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                单位重量 (Kg)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.UnitWeight)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                总重量 (t)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.TotalWeight)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                单位体积 (m<sup>3</sup>)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.UnitVolume)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                总体积 (m<sup>3</sup>)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.TotalVolume)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
       
    </div>
</div>

