@model IEnumerable<Phoebe.Model.DailyColdRecord>

@{ 
    Layout = null;
}

<div class="row" id="process-container">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;冷藏费记录
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="record-table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.RecordDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CargoName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Count)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UnitMeter)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StoreMeter)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TotalMeter)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DailyFee)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TotalFee)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RecordDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CargoName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Count)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitMeter)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StoreMeter)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalMeter)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DailyFee)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalFee)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
 
</script>