@model Phoebe.UI.Models.CargoColdPrice

@{
    ViewBag.Title = "冷藏费计算";

    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "process-result",
        Url = Url.Action("CargoColdResult", "Settle"),
        HttpMethod = "POST",
        OnSuccess = "phoebe.showMessage('提交成功')"
    };
}

@section styles {
    @Styles.Render("~/Content/datepicker")
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Home")">主页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">财务结算</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-sliders"></i>&nbsp;信息选择
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                @using (Ajax.BeginForm("CargoColdResult", new { controller = "Settle" }, ajaxOpts, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">
                            <div class="col-md-12">
                                @Html.ValidationMessageFor(model => model.ContractID, "", new { @class = "text-danger" })
                                @Html.ValidationMessageFor(model => model.CargoID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">客户类型</label>
                                    <div class="col-md-8">
                                        <select id="CustomerType" name="CustomerType" class="form-control">
                                            <option value="">-- 请选择 --</option>
                                            <option value="1">团体客户</option>
                                            <option value="2">零散客户</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">客户选择</label>
                                    <div class="col-md-8">
                                        <select id="CustomerID" name="CustomerID" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">合同选择</label>
                                    <div class="col-md-8">
                                        <select id="ContractID" name="ContractID" class="form-control" data-val="true" data-val-required="请选择合同"></select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">货品选择</label>
                                    <div class="col-md-8">
                                        <select id="CargoID" name="CargoID" class="form-control" data-val="true" data-val-required="请选择货品"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">日期选择</label>
                                    <div class="col-md-9">
                                        <div class="input-group input-medium date-picker input-daterange" id="date-range-picker">
                                            <input type="text" class="form-control" name="DateFrom" data-val="true" data-val-required="请选择开始日期">
                                            <span class="input-group-addon">
                                                至
                                            </span>
                                            <input type="text" class="form-control" name="DateTo" data-val="true" data-val-required="请选择结束日期">
                                        </div>
                                        <!-- /input-group -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-offset-2 col-md-2">
                                <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> 确定</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div id="process-result">

</div>
<!-- END PAGE CONTENT-->


@section Scripts {
    @Scripts.Render("~/bundles/datepicker")
    <script type="text/javascript">
        $(function () {
            phoebe.leftNavActive($('#menu-cold-price'));
            phoebe.initDatePicker($('#date-range-picker'), false);;

            $('a.btn-print').click(function () {
                phoebe.initPrint($('div#process-container')[0]);
            });

            var customerType = 0;
            var customerId = 0;
            var contractId = 0;

            function loadCustomers($dom, type) {

                $.getJSON('/Contract/GetCustomers', { type: type }, function (response) {
                    $dom.append(" <option value=''>-- 请选择 --</option>");
                    $.each(response, function (i, item) {
                        $dom.append("<option value='" + item.ID + "'>" + item.Name + "</option>");
                    });
                });
            }

            function loadContracts($dom, customerType, customerId) {

                $.getJSON('/Contract/GetByCustomer', { customerType: customerType, customerId: customerId }, function (response) {
                    $dom.append(" <option value=''>-- 请选择 --</option>");
                    $.each(response, function (i, item) {
                        $dom.append("<option value='" + item.ID + "'>" + item.Name + "</option>");
                    });
                });
            }

            function loadCargos($dom, contractId) {

                $.getJSON('/Cargo/GetCargos', { type: 3, contractID: contractId }, function (response) {
                    $dom.append(" <option value=''>-- 请选择 --</option>");
                    $.each(response, function (i, item) {
                        $dom.append("<option value='" + item.ID + "'>" + item.Name + "</option>");
                    });
                });
            }

            $('#CustomerType').change(function () {
                customerType = $(this).val();

                $('#CustomerID').empty();
                $('#ContractID').empty();
                $('#CargoID').empty();
                if (customerType == '')
                    return;

                loadCustomers($('#CustomerID'), customerType);
            });

            $('#CustomerID').change(function () {
                customerId = $(this).val();

                $('#ContractID').empty();
                $('#CargoID').empty();
                if (customerId == '')
                    return;

                loadContracts($('#ContractID'), customerType, customerId);
            });

            $('#ContractID').change(function () {
                contractId = $(this).val();

                $('#CargoID').empty();
                if (contractId == '')
                    return;

                loadCargos($('#CargoID'), contractId);
            });

        });
    </script>
}
