@model Phoebe.Model.Settlement

@{
    ViewBag.Title = "货品结算";
    Cargo cargo = (Cargo)ViewBag.Cargo;
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Home")">主页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">财务结算</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-info-circle"></i>&nbsp;货品信息
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th style="width: 20%;">
                                        属性
                                    </th>
                                    <th>
                                        说明
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        货品ID
                                    </td>
                                    <td>
                                        @cargo.ID
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        货品名称
                                    </td>
                                    <td>
                                        @cargo.Name
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        一级分类
                                    </td>
                                    <td>
                                        @cargo.FirstCategory.Name
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        二级分类
                                    </td>
                                    <td>
                                        @cargo.SecondCategory.Name
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        重量 (Kg)
                                    </td>
                                    <td>
                                        @cargo.Weight
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        体积 (m<sup>3</sup>)
                                    </td>
                                    <td>
                                        @cargo.Volume
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th style="width: 20%;">
                                        属性
                                    </th>
                                    <th>
                                        说明
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        所属合同
                                    </td>
                                    <td>
                                        @cargo.Contract.Name
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        登记时间
                                    </td>
                                    <td>
                                        @cargo.RegisterTime.ToDateTimeString()
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        登记人
                                    </td>
                                    <td>
                                        @cargo.User.Name
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        备注
                                    </td>
                                    <td>
                                        @cargo.Remark
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        状态
                                    </td>
                                    <td>
                                        @(((EntityStatus)cargo.Status).DisplayName())
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-rmb"></i>&nbsp;结算信息
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">

                @using (Html.BeginForm("Create", "Settle", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-body">
                       
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <h3 class="form-section">结算单信息</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1">
                                        <span class="required">*</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CargoID, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.CargoID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.CargoID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h3 class="form-section">计费信息</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">重量(Kg)</label>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1">
                                        <span class="required">*</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">体积(m<sup>3</sup>)</label>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Volume, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Volume, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1">
                                        <span class="required">*</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.WeightUnitPrice, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.WeightUnitPrice, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.WeightUnitPrice, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1">
                                        <span class="required">*</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">体积单价(元/m<sup>3</sup>)</label>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.VolumeUnitPrice, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.VolumeUnitPrice, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1">
                                        <span class="required">*</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.WeightTotalPrice, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.WeightTotalPrice, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.WeightTotalPrice, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1">
                                        <span class="required">*</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.VolumeTotalPrice, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.VolumeTotalPrice, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.VolumeTotalPrice, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1">
                                        <span class="required">*</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Discount, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1">
                                        <span class="required">*</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Remission, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Remission, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Remission, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1">
                                        <span class="required">*</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                                              
                        <h3 class="form-section">总价 <small>总价 = (重量 * 重量单价 + 体积 * 体积单价) * 折扣率 - 减免费用</small></h3>
                        <div class="form-group">
                            @Html.LabelFor(model => model.TotalPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.TotalPrice, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.TotalPrice, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-1">
                                <span class="required">*</span>
                            </div>
                        </div>

                        <h3 class="form-section">附加信息</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>&nbsp;确定</button>
                                            <a href="@Url.Action("Index", new { controller = "Settle"})" class="btn btn-default">&nbsp;取消</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->

@section Scripts {
    <script type="text/javascript">
        $(function () {
            phoebe.leftNavActive($('#menu-settle-index'));

            function calc() {
                var weight = parseFloat($('#Weight').val());
                var weightUnitPrice = parseFloat($('#WeightUnitPrice').val());
               
                var volume = parseFloat($('#Volume').val());
                var volumeUnitPirce = parseFloat($('#VolumeUnitPrice').val());
              
                var discount = parseFloat($('#Discount').val());
                var remission = parseFloat($('#Remission').val());

                var total = (weight * weightUnitPrice + volume * volumeUnitPirce) * discount / 100 - remission;

                $('#TotalPrice').val(total.toFixed(2));
            }

            function calcWeight() {
                var weight = parseFloat($('#Weight').val());
                var weightUnitPrice = parseFloat($('#WeightUnitPrice').val());

                var total = weight * weightUnitPrice;
               
                $('#WeightTotalPrice').val(total.toFixed(2));
            }

            function calcVolume() {
                var volume = parseFloat($('#Volume').val());
                var volumeUnitPirce = parseFloat($('#VolumeUnitPrice').val());

                var total = volume * volumeUnitPirce;

                $('#VolumeTotalPrice').val(total.toFixed(2));
            }

            $('#Weight').bind("input", function () {
                calcWeight();
                calc();
            });

            $('#WeightUnitPrice').bind("input", function () {
                calcWeight();
                calc();
            });

            $('#Volume').bind('input', function () {
                calcVolume();
                calc();
            });

            $('#VolumeUnitPrice').bind('input', function () {
                calcVolume();
                calc();
            });

            $('#Discount').bind('input', function () {
                calc();
            });

            $('#Remission').bind('input', function () {
                calc();
            });
        });
    </script>
}