@model IEnumerable<Phoebe.Model.ChargeRecord>

@{
    Layout = null;
    ViewBag.Title = "Process";
}

<div class="row" id="process-container">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;冷藏费表单
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
                <div class="actions">
                    <a href="javascript:;" class="btn btn-default btn-sm btn-print">
                        <i class="fa fa-print"></i>&nbsp;打印
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="charge-table">
                    <thead>
                        <tr>
                            <th>
                                日期
                            </th>
                            <th>
                                货品名
                            </th>
                            <th>
                                箱重(kg)
                            </th>
                            <th>
                                数量(箱)
                            </th>
                            <th>
                                进出库重量(t)
                            </th>
                            <th>
                                重量累计(t)
                            </th>
                            <th>
                                日冷藏费(元)
                            </th>
                            <th>
                                冷藏费累计(元)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.RecordDate.ToDateString()
                                </td>
                                <td>
                                    @item.CargoName
                                </td>
                                <td>
                                    @item.UnitWeight
                                </td>
                                <td>
                                    @item.Count
                                </td>
                                <td>
                                    @item.StoreWeight
                                </td>
                                <td>
                                    @item.TotalWeight
                                </td>
                                <td>
                                    @item.DailyFee
                                </td>
                                <td>
                                    @item.TotalFee
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('a.btn-print').click(function () {
            phoebe.initPrint($('div#process-container')[0]);
        });
    })
</script>